html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body {
  background-color: #fff;
  @extend %lato-400;
  font-size: 14px;
  line-height: 1.6;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}


.sr-only { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	margin: -1px;
	border: 0; 
	padding: 0; 
	white-space: nowrap; 
	clip-path: inset(100%); 
	clip: rect(0 0 0 0); 
	overflow: hidden; 
}
