$head           : #121212;
$text           : #4F4F4F;
$accent         : #63A60E;
$accent-red     : #CF3E3B;
$default-dark   : #31352B;
$default-ldark  : #505050;
$bg-light       : #F5F5F5;



%bg-con {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%before-after {
  content: '';
  position: absolute;
}

%signika-600 {
  font-family: 'signikasemibold', sans-serif;
  font-weight: 600;
}

%signika-700 {
  font-family: 'signikabold', sans-serif;
  font-weight: 700;
}

%lato-400 {
  font-family: 'latoregular', sans-serif;
  font-weight: 400;
}

%lato-500 {
  font-family: 'latomedium', sans-serif;
  font-weight: 500;
}

%lato-600 {
  font-family: 'latosemibold', sans-serif;
  font-weight: 600;
}

%lato-700 {
  font-family: 'latobold', sans-serif;
  font-weight: 700;
}

%link-action {
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition-property: color, border-color, text-shadow;
  transition:  0.3s ease-in-out;
  display: inline-block;

  &:hover {
    border-color: #fff;
  }
  &:focus {
    color: $accent-red;
    border-color: $accent-red;
  }
  &:active {
    color: $accent;
    border-color: $accent;
  }
}