@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "slick";

.header-top {
  background-color: $default-dark;
  padding: 14px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__info {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }
  &__link {
    padding: 8px 0 8px 45px;
    color: #fff;
    position: relative;
    letter-spacing: 0.03;
    font-size: 13px;
    @extend %lato-700;
    border: 1px solid transparent;
    transition: border-color 0.3s ease-in;
    &:hover {
      border-bottom: 1px solid #fff;
    }
    &:focus {
      border-bottom: 1px solid #FF7A00;
    }
    &:active {
      border-bottom: 1px solid $accent;
    }
    
    &--tel {
      padding: 8px 0 8px 35px;
      &::before {
        background-image: url(../images/icon-tel.svg);
        height: 22px;
        width: 22px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      @extend %bg-con; 
      left: 0;
      top: 4px;   
    }
    &--address::before {
      background-image: url(../images/icon-address.svg);
      height: 23px;
      width: 32px;
    }
  }
  .menu-list {
    display: flex;
    &__item {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
    &__link {
      color: #fff;
      @extend %lato-700;
      padding-bottom: 8px;
      letter-spacing: 0.03;
      font-size: 13px;
      border: 1px solid transparent;
      transition: border-color 0.3s ease-in;
      &:hover {
      border-bottom: 1px solid #fff;
      }
      &:focus {
        border-bottom: 1px solid #FF7A00;
      }
      &:active {
        border-bottom: 1px solid $accent;
      }
    }
  }
}

.header-bottom {
  background-color: $accent;
  padding: 30px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  &__category {
    background-color: #fff;
    padding: 17px;
    border-radius: 6px;
    max-width: 240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $accent;

    &::before {
      content: '';
      background-image: url(../images/menu-icon.svg);
      @extend %bg-con;
      width: 25px;
      height: 17px;
    }
    &::after {
      content: '';
      background-image: url(../images/menu-arrow.svg);
      @extend %bg-con;
      height: 4px;
      width: 7.5px;
    }
  }
}

.form {
  max-width: 575px;
  width: 100%;
  position: relative;
 
  &__input {
    max-width: 415px;
    width: 100%;
    padding: 15px 10px 15px 50px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.2);
    border-radius: 6px 0 0 6px;
    @extend %lato-400;
      
    &::placeholder {
      letter-spacing: 0.03em;
      color: $default-dark;
    }
  }
  &__btn {
    text-transform: uppercase;
    color: #fff;
    @extend %lato-600;
    border: 2px solid $accent;
    border-left: none;
    background-color: $default-dark;
    padding: 15px 50px;
    position: relative;
    left: -5px;
    border-radius: 0px 6px 6px 0px;
    transition-property: border-color, background-color, color;
    transition: 0.3s linear;
    &:hover {
      border: 2px solid $default-dark;
      border-left: none;
      background-color: $accent;
      color: $default-dark;
    }
    &:active {
      background-color: #fff;
      color: $default-dark;
      border: 2px solid $default-dark;
      border-left: none;
    }
    &:focus {
      border: 2px solid #fff;
      border-left: none;
    }
  }
  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/search-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 21px;
  }
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 180px;
  &__item {
    margin-right: 23px;
  }
  &__link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    background-image: url('../images/user-link.svg');
    height: 32px;
    width: 25px;
    position: relative;
    transition: transform 0.3s ease-in;
    &:hover {
      transform: scale(1.2)
    }
    &--heart {
      background-image: url('../images/heart-link.svg');
      width: 32px;
      height: 29px;
    }
    &--cart {
      background-image: url('../images/cart-link.svg');
      width: 32px;
      height: 31px;
    }
  }
  &__numb {
    @extend %lato-600;
    padding: 3px;
    border-radius: 50%;
    color: #CF3E3B;
    background-color: #fff;
    font-size: 10px;
    position: absolute;
    left: -6px;
    top: -6px;
  }
}

.slider {
  position: relative;
  z-index: 1;
  &__item {
    padding: 140px 0;
    @extend %bg-con;
    height: 600px;
  }
  &__inner {
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    margin-bottom: 30px;
    max-width: max-content;
  }
  &__title {
    @extend %signika-700;
    font-size: 60px;
    color: $default-ldark;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    span {
      color: $accent-red;
      display: inline-block;
      margin-bottom: 12px;
    }
  }
  &__text {
    color: $default-ldark;
    font-size: 16px;
  }
}
.slick-arrow {
  position: absolute;
  font-size: 0;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  @extend %bg-con;
  background-size: 19px 32px;
  border-radius: 6px;
  z-index: 2;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
}
.slick-prev {
  background-image: url('../images/prevArrow.svg');

}
.slick-next {
  background-image: url('../images/nextArrow.svg');
  left: auto;
  right: 60px;
}

.hero{
  &__info {
    background-color: $bg-light;
    padding: 48px 0;

  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    padding-left: 75px;
    position: relative;
    &:not(:last-child){
      margin-right: 48px;
    }
    &::before {
      @extend %before-after;
      top: -3px;
      left: 0;
      width: 50px;
      height: 50px;
      @extend %bg-con;
    }
    &--delivery::before {
      background-image: url(../images/info/delivery.svg);
    }
    &--return::before {
      background-image: url(../images/info/return.svg);
    }
    &--support::before {
      background-image: url(../images/info/support.svg);
    }
  }
  &__subtitle {
    @extend %lato-700;
    font-size: 16px;
    margin-bottom: 7px;
    color: $head;
  }
}


.footer {
  background-color: $default-dark;
  &-top {
    padding: 30px 0;
    border-bottom: 1px solid ;
    border-color: rgba(255, 255, 255, 0.1);
  }
  .logo{
    display: inline-block;
    margin-bottom: 30px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__form {
    max-width: 300px;
    width: 100%;
    &-subtext {
        color: #fff;
        margin-bottom: 18px;
    }
    &-input {
      padding: 14px;
      line-height: 1;
      font-size: 14px;
      width: 180px;
      box-shadow: none;
      outline: none;
      &::placeholder {
        color: $text;
      }
    }
    &-btn {
      padding: 13px 10px;
      @extend %lato-700;
      font-size: 12px;
      color: #fff;
      background-color: $accent;
      left: -3px;
    }
  }
  &__nav {
    display: flex;
  }
  &__list {
    padding: 0 5px;
    &:not(:last-child){
      margin-right: 74px;
    }
  }
  &__item {
    margin-bottom: 18px;
  }
  &__link {
    color: #fff;
    @extend %lato-400;
    font-size: 14px;
    line-height: 1.3;
    @extend %link-action;
  }
}

.footer-adrs {
  color: #fff;
  font-style: normal;
  &__link {
    color: inherit;
    @extend %link-action;
    margin-bottom: 18px;
  }
  &__text {
    margin-bottom: 18px;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    margin: 0 6px;
    display: inline-block;
    position: relative;
    height: 32px;
    width: 32px;
    &::before {
      @extend %before-after;
      @extend %bg-con;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &--facebook::before {
      background-image: url(../images/social/facebook.svg);
    }
    &--youtube::before {
      background-image: url(../images/social/youtube.svg);
    }
    &--telegram::before {
      background-image: url(../images/social/telegram.svg);
    }
    &--instagram::before {
      background-image: url(../images/social/instagram.svg);
    }
  }
}

.footer-bottom {
  padding: 24px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__copy {
    text-transform: uppercase;
    color: #fff;
  }
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child){
      margin-right: 24px;
    }
  }
}

@import "media";