.btn {
  padding: 12px 24px;
  background-color: $green-700;
  color: $white;
  font-weight: 600;
  border: 1px solid $green-700;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.03;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0);
  display: inline-block;
  transition-property:color, background-color,box-shadow, border-color;
  transition: 0.3s ease-in;

  &:hover {
    background-color: $green-900;
    border-color: $green-900;
  }

  &:focus {
    box-shadow: 0px 0px 0px 4px $green-200;
  }

  &:active {
    border-color: $green-700;
    background-color: $green-700;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
  }

  &--light {
    color: $green-700;
    background-color: $white;

    &:hover {
      background-color: $green-100;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }

    &:active {
      box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
      background-color: $white;
      color: rgba(99, 166, 14, 0.5);
    }
  }

  &--dark {
    color: $white;
    background-color: $dark-800;
    border: 1px solid $dark-800;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
      border-color: rgba(49, 53, 43, 0.85);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }

    &:active {
      box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &--checkout {
    border-radius: 0px;
    width: 100%;
    text-align: center;
    padding: 22px;
    text-transform: inherit;
    font-weight: 400;

    &:hover {
      background-color: $green-900;
      border-color: $green-900;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
    }

    &:active {
      border-color: $green-700;
      background-color: $green-700;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}


.close-btn {
  width: 24px;
  height: 24px;
  position: relative;
  padding: 6px;
  opacity: 1;
  transition: opacity 0.3s linear;

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $dark-800 ;
  }

  &::before {
    top: 16px;
    transform: rotate(45deg);
  }

  &::after {
    bottom: 5px;
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 0.6;
  }

  &--basket-item {
    width: 12px;
    height: 12px;

    &::after,
    &::before {
      height: 1px;
      background-color: $silver-600 ;
    }

    &::before {
      top: 6px;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 5px;
      transform: rotate(-45deg);
    }
  }
}