.button-cart {
  padding: 5px;
  fill: $silver-600;
  transition-property: fill, background-color;
  transition: 0.3s linear;
  cursor: pointer;


  &:hover {
    fill: $yellow-900;
  } 

  &--nav {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 3px;
    transition: background-color 0.3s ease-in;
    fill: $white;

    &:hover {
      fill: $white;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &--product {
    height: 32px;
    width: 32px;
    padding: 8px;
    margin-top: 5px;
    background-color: #63A60F;
    color: #fff;
    font-weight: 600;
    border: 1px solid #63A60F;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 18px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $green-900;
      border-color: $green-900;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
    }

    &:active {
      border-color: $green-700;
      background-color: $green-700;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}