.filter {
    display: flex;
    justify-content: center;
    margin: 0 auto 48px;

    &__item:not(:last-child) {
      margin-right: 24px;
    }

    &__btn {
      font-weight: 700;
      text-transform: uppercase;
      color: $dark-500;
      font-size: 15px;
      letter-spacing: 0.03px;
      border-bottom: 1px solid transparent;
      line-height: 1.3;
      transition: all 0.3s linear;

      &:hover {
        border-color: $green-700 ;
      } 
    }
}