.product {
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border-color 0.3s linear;
  cursor: pointer;

  &__top {
    padding: 12px 12px 7px;
    display: flex;
    justify-content: space-between;
  }

  &__top-list {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
    height: 43px;
  }

  &__badger:not(:last-child){
    margin-bottom: 9px;
  } 
  
  &__top-btn {
    background-image: url(../images/heart-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 34px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: transform 0.3s ease-in-out;

    &:hover {
     transform: scale(0.8);
    }
  }

  &__picture {
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: 2;
    }

    &:hover{
      &::before{
        background-color: rgba(0,0,0, 0.1);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      &::after {
        background-image: url(../images/loop-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 18px;
  }

  &__desc {
    max-height: 60px;
    height: 100%;
    font-size: 14px;
    line-height: 1.4;
    overflow: hidden;
    padding: 0 18px 10px;
    font-weight: 600;
  }

  &__bottom {
    padding: 0 18px 18px;
    display: flex;
    justify-content: space-between;
  }

  &__cart {
    height: 32px;
    width: 32px;
    padding: 8px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    border-color: $green-700;
  }

  &__left {
    position: relative;
    margin-right: 12px;
    width: 112px;
    height: 100px;
  }

  &__right {
    padding-top: 15px;
    max-width: 165px;
    width: 100%;
    text-align: left;
  }

  &--stock {
    padding: 13px 14px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product__img {
      max-width: 100px;
    }

    .product__desc {
      padding-left: 0;
      margin-bottom: 6px;
      height: 60px;
    }

    .product__button {
      padding: 0;
      align-self: center;
    }

    .price-list {
      flex-direction: row;
      align-items: flex-end;
    }

    .price--new {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      margin-right: 5px;
    }

    .price--old {
      display: inline-block;
      font-size: 12px;
    }
  }
}
