.button-heart {
  padding: 5px;
  fill: $silver-600;
  transition-property: fill, background-color;
  transition: 0.3s linear;

  &:hover {
    fill: $yellow-900;
  } 

  &--nav {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 3px;
    transition: background-color 0.3s ease-in;
    fill: $white;

    &:hover {
      fill: $white;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}